<main id="contenido">
    <h1>Cantantes</h1>
    <section>
        <h2>Bab Bunny</h2>
        <p>Bad Bunny, cuyo nombre real es Benito Antonio Martínez Ocasio, es un cantante y compositor puertorriqueño de música urbana y reggaetón.</p>
        <img src="/IMG/bab bunny.jpg" alt="Bab Bunny">
        <a href="https://es.wikipedia.org/wiki/Bad_Bunny" target="_blank" id="pestaña">ver más...</a>
    </section>

    <section>
        <h2>Daniela Darcourt</h2>
        <p>Daniela Darcourt es una cantante peruana conocida por su poderosa voz y su versatilidad en géneros como la salsa y la música tropical. Nació el 7 de diciembre de 1996 en Lima, Perú. </p>
        <img src="/IMG/daniela darcourt.jpg" alt="Daniela Darcourt">
        <a href="https://es.wikipedia.org/wiki/Daniela_Darcourt" target="_blank" id="pestaña">ver más...</a>
    </section>

    <section>
        <h2>Justin Bieber</h2>
        <p>Justin Bieber es un cantante y compositor canadiense que se dio a conocer a nivel mundial en 2009, a una temprana edad, a través de videos que compartía en YouTube. </p>
        <img src="/IMG/justin bieber.jpg" alt="Justin Bieber">
        <a href="https://es.wikipedia.org/wiki/Justin_Bieber" target="_blank" id="pestaña">ver más...</a>
    </section>

    <section>
        <h2>Bethoven</h2>
        <p>Ludwig van Beethoven fue un compositor y pianista alemán nacido en Bonn el 16 de diciembre de 1770 y fallecido en Viena el 26 de marzo de 1827.</p>
        <img src="/IMG/bethoven.jpg" alt="Bethoven">
        <a href="https://es.wikipedia.org/wiki/Ludwig_van_Beethoven target="_blank" id="pestaña">ver más...</a>
    </section>
</main>
