<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Música</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="https://www.youtube.com/" target="_blank">Inicio</a></li>
            <li><a href="#">Géneros</a>
                <ul>
                    <li><a href="#">Reggaeton</a></li>
                    <li><a href="#">Salsa</a></li>
                    <li><a href="#">Inglés</a></li>
                    <li><a href="#">Clásica</a></li>
                </ul>
            </li>
            <li><a href="#">Artistas</a>
                <ul>
                    <li><a href="https://www.youtube.com/@BadBunnyPR" target="_blank">Bab Bunny</a></li>
                    <li><a href="https://www.youtube.com/channel/UC4q_gS6r4KgYAob1Xd7v34A" target="_blank">Daniela Darcourt</a></li>
                    <li><a href="https://www.youtube.com/channel/UCIwFjwMjI0y7PDBVEO9-bkQ" target="_blank">Justin Bieber</a></li>
                    <li><a href="https://www.youtube.com/@BeethovenOfficial" target="_blank">Beethoven</a></li>
                </ul>
            </li>
            <li><a href="#">Álbumes</a>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=L88MenfjtTI&list=PLRW7iEDD9RDTnrFSzfd_WqMmtZK009MpS&pp=iAQB" target="_blank">LAS QUE NO IBAN A SALIR</a></li>
                    <li><a href="https://www.youtube.com/watch?v=zJUJnRS6lZg&pp=ygUXZGFuaWVsYSBkYXJjb3VydCBhbGJ1bSA%3D" target="_blank">Catarsis Mixtape</a></li>
                    <li><a href="https://www.youtube.com/watch?v=jGmYURj98uM&list=PL2FB8ATYTKvlrexWKY6qChVcPvBblh9ZC" target="_blank">Purpose</a></li>
                    <li><a href="https://www.youtube.com/watch?v=sHHlFfbUibs&list=PLiN-7mukU_RF3azOPvaby2BbQ7Gqfvi61" target="_blank">Symphony No. 9</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>
