/*Submenús*/
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    transition: background-color 0.3s;
    border: 4px solid white;
    box-shadow: 2px 2px 25px coral;
    font-family: governor;
    border-radius: 25px;
}

nav ul li a:hover {
    background-color: aquamarine;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a:hover {
    background: #fcf75e;
}


nav ul li ul li a {
    padding: 10px 15px;
    color: white;
    font-family: mkda;
}

/*Agrega icono submenus*/
nav ul li ul li {
    display: block;
    position: relative;
    width: 140%;
    padding-left: 50px; /* Ajusta el espacio a la izquierda del texto para dejar espacio para el icono */
}

nav ul li ul li::before {
    content: ""; 
    display: block;
    position: relative;
    left: 15px; /* Ajusta la posición izquierda del icono */
    top: 50%;
    transform: translateY(165%);
    width: 20px;
    height: 20px;
    background-image: url(/IMG/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}






